.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 190, 36);
    min-height: 10vh;
    
}
.footer a{
    list-style: none;
    text-decoration: none;
    color:black;
    
}
a.active{
    color: blue;
}